form{
    margin: 15 px auto;
}

form label{
   display: block;
   font-size: 30 px;
   margin: 0 0 10 px;
}

.input-padrao{
    display: block;
    margin: 0 0 15 px;
    padding: 10px 15px;
    width: 35%;
}

.checkbox{
    margin: 20 px 0;
}

.dados{
  font-size: 10 px;
}
